body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e6996c;
    padding: 4px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 990px;
    margin: 0 auto;
}

.logo {
    width: 150px;
    height: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;

}

main {
    padding: 20px;
}